<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skalliblog</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
 {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
  <div class="btn-group btn-group-justified">
    <a href="{{ path('skalli_list') }}" class="btn btn-primary">Home</a>
    <a href="{{ path('skalli_ajout') }}" class="btn btn-primary">Nouvel article</a>
    <a href="{{ path('skalli_about') }}" class="btn btn-primary">A propos</a>
  </div>
</div>

 <header id="header">
                <hgroup>
                    <h2 style="color:#5882FA;">{% block blog_title %}&#9562; Skalliblog &#9565;{% endblock %}</h2>
                    <h3 style="color:blue;">{% block blog_tagline %}Bienvenue {% endblock %}</h3>
                </hgroup>
            </header>


 

<div class="container">
                {% block body %}{% endblock %}
            </div>

<div id="footer">
                {% block footer %}
                    COPYRIGHT [Skalli-Chafac]   créé par <a href="https:google.fr">skalli</a>
                {% endblock %}
            </div>
</body>
</html>
